*{
    /* border: solid 1px red; */
}

body{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 960px;
    height: 960px;
}